@(list:List[models.Theme], form:Form[models.Challenger])(implicit request: RequestHeader)

@import helper.twitterBootstrap._

@main("template select.") {
  <h1>input your name, and select template</h1>
  @helper.form(action = routes.Application.share) {
    @helper.inputText(form("name"),
      '_label -> "name"
    )
    @helper.select(
      form("theme"),
      list.map(t => t.theme -> t.theme),
      '_label -> "template"
    )

    <input type="submit" value="Go" class="btn btn-primary" />


    <a href="@routes.Application.list">manager page</a>
  }

}
