@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="/webjars/highlightjs/8.0/styles/zenburn.min.css">
        <link rel="stylesheet" href="/webjars/bootstrap/2.3.1/css/bootstrap.min.css">
        <script src="/webjars/bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="/webjars/highlightjs/8.0/highlight.min.js"></script>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    </head>
    <body>
    	@content
    </body>
</html>
